* {
  box-sizing: border-box;
}

html
{
  background-color: #f7f2dfe7;
}

body {
  background-color: #f7f2dfe7;

  /* overflow-y: hidden; */
} 

#regForm {
  /* margin-top: 15px; */
  background-color: #ffffff;
  margin: 10px auto 100px;
  font-family: Raleway;
  padding: 10px 25px;
  width: 50%;
  font-size: 15px;
  /* min-width: 300px; */
}

#lgForm {
  /* margin-top: 15px; */
  background-color: #ffffff;
  margin: 100px auto 100px;
  font-family: Raleway;
  padding: 10px 25px;
  width: 50%;
  font-size: 15px;
  /* min-width: 300px; */
}

#reg {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 50%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

select {
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.invalid {
  background-color: #ffdddd;
}

input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* .tab {
  display: none;
} */

button {
  background-color: #35cebe;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* #regBody
{
  height: 250px;
} */